.main {
    flex: 1;
    background-color: white;
    padding: 60px 20px;
    padding-bottom: 120px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

/* This is a helper to ensure enough scroll space on mobile if needed */
.emptyBox {
    display: block;
    width: 100%;
    height: 80px;
}

@media (min-width: 768px) {
    .emptyBox {
        display: none;
    }
}
