/* Navbar Section */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 0 2.5em;
    align-items: center;
    background-color: #f4f4f4;
    width: 100%;
    height: 70px;
}   

/* Logo and Profile */
.navbarLogo {
    display: flex; 
    align-items: center;
    gap: 1em;
    img {
        width: 3em;
        height: 3em;
    }
}

.navbarList {
    display: none;
}

.navbarProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.navbarProfile .notification {
    width: 2em;
    height: 2em;
    position: relative;
    cursor: pointer;
}

.navbarProfile .profile {
    width: 2.5em;
    height: 2.5em;
    background-color: rgb(178, 177, 177);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

@media (min-width: 768px) {
    .navbar {
        align-items: center;
        background-color: #f4f4f4;
        width: 100%;
        height: 100px;
    }   

    .navbarLogo {
        display: flex; 
        align-items: center;
        img {
            width: 3em;
            height: 3em;
        }
    }

    .navbarList {
        display: flex;
        ul {
            display: flex;
            list-style: none;
            gap: 6em;
            li {
                display: flex;
                cursor: pointer;
                font-size: larger;
                font-weight: 500;
                transition: all .2s;
                color: #8a8c92;
                border-bottom: 2px solid transparent;
                align-items: center;
                gap: .5em;
                img {
                    width: 1em;
                    height: 1em;
                    filter: brightness(0) invert(.5);
                }
            }
            li:hover p {
                color: black;
                border-bottom: 3px solid #6fd7a5;
            }
            li:hover img {
                filter: brightness(1);
            }
        }
    }

    .focus {
        p {  
            color: black;
            border-bottom: 3px solid #6fd7a5;
        }
        img {
            filter: brightness(1);
        }
    }

    .navbarProfile {
        display: flex;
        align-items: center;
        gap: 1em;
    }
}
